div.form-floating.mb-3 {
    margin-bottom: 0px !important;
}

div.validation-message {
    margin-top: 5px !important;
    font-size: 0.75rem
}

.form-floating > .form-control-plaintext ~ label::after, .form-floating > .form-control:focus ~ label::after, .form-floating > .form-control:not(:placeholder-shown) ~ label::after, .form-floating > .form-select ~ label::after {
    background-color: transparent
}

.input-wrap {
    border: 1px solid #dee2e6d9;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 0 5px 5px;
    width: auto;
    background-color: white;
}

    .input-wrap label {
        font-size: 15px;
        color: rgba(var(--bs-body-color-rgb), .65);
        padding: 5px 6px 0px;
    }

    .input-wrap select {
        background-color: white;
        border: 0px;
    }

    /*.date-wrap {
    border: 1px solid #dee2e6d9;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 0 5px 5px;
    width: auto;
    background-color: white;
}

    .date-wrap label {
        font-size: 15px;
        color: rgba(var(--bs-body-color-rgb), .65);
        padding: 5px 6px 0px;
    }
*/
    .input-wrap input[type="date"] {
        background-color: white !important;
        border: 0px !important;
        outline: 0px !important;
    }

    .input-wrap .daterange input[type="text"] {
        height: 38px;
        margin-left: 10px;
        background-color: white !important;
        border: 0px !important;
        outline: 0px !important;
        display: block;
    }
